.App {
  text-align: center;
  background-color: #03e5b7;
  background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
}
.MySideBar {
  text-align: left;
  max-width: 15rem;
  float: right;
}

.no-margin{
  margin: 0 !important;
}


.MySearch > .input {
  display: inline;
}

.ui.feed>.event{
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid white;
  border-left-style: none;
  border-right-style: none;
}

.ui.feed>.event>.content {
  display: grid;
}

.ui.feed>.event>.content .extra,
.ui.feed>.event>.content .summary
{
  color: black;

}

.ui.feed>.event>.content .summary>.date{
  color: gold;
}

a {
  color: gold;
}

.ui.feed>.event>.content .meta a, .ui.feed>.event>.content .meta>.icon {
  color: lime;
}

/*.grid-title{*/
/*  border: 1px solid nsvy;*/
/*  !*border-bottom-style: none;*!*/
/*}*/

.grid-center{
  border: 1px solid white;
  border-top-style: none;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.grid-center-top{
  padding-bottom:0 !important;
}

.grid-center-bottom{
  padding-top: 0 !important;
}

.grid-submit-area{
  border: 2px none white;
  border-bottom-style: solid;
}

.grid-tweetbox-area > .ui.form > textarea{
  border: 1px solid rgba(14,14,14,0);
  resize: none;
}

/*Bootstrap*/
/*.navbar{*/
/*  width: 100%;*/
/*  */
/*}*/

/*.navbar .navbar-nav {*/
/*  display: inline-block;*/
/*  float: none;*/
/*  vertical-align: top;*/
/*}*/

/*.navbar .navbar-collapse {*/
/*  text-align: center;*/
/*}*/

#tweetbox{
  margin-top: 15px;
  width:100%;
  z-index:1;
  position: relative;
}

#tweetbox-submit{
  float:right;
}


.navbar-background{
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
}

.btn-outline-warning {
  color: lime;
  border-color: lime;
  position: relative;
  z-index: 1;
}


.clouds-container{
  position: relative;
  height:100vh;
  padding-top: 50px;
  overflow: hidden;
}

.cloud{
  position: relative;
  width: 150px;
  height: 50px;
  background: white;
  border-radius: 100px;
  border-bottom: 3px solid grey;
  left: -20%;
}


.cloud::before{
  content: '';
  position: absolute;
  width:50%;
  height:150%;
  left:13%;
  top: -60%;
  background:white;
  background: -webkit-linear-gradient(#e6f0f2, white 30%);
  background: -o-linear-gradient(#e6f0f2, white 30%);
  background: linear-gradient(#e6f0f2, white 30%);
  border-radius: 50%;
}


.cloud::after{
  content: '';
  position: absolute;
  width:30%;
  height:80%;
  right:15%;
  top: -25%;
  background:white;
  background: -webkit-linear-gradient(#e6f0f2, white 20%);
  background: -o-linear-gradient(#e6f0f2, white 20%);
  background: linear-gradient(#e6f0f2, white 20%);
  border-radius: 50%;
}


.cloud .shadow {
  width: 80%;
  position: absolute;
  bottom: -10%;
  left:5%;
  z-index: -1;
  box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.is-small{
  width: 75px;
  height: 25px;
}
.is-medium{
  width: 150px;
  height: 50px;
}
.is-large{
  width: 240px;
  height: 80px;
}

.slow{
  -o-animation: float 45s infinite linear;
  -moz-animation: float 45s infinite linear;
  -webkit-animation: float 45s infinite linear;
  animation: float 45s infinite linear;
}
.medium{
  -o-animation: float 35s infinite linear;
  -moz-animation: float 35s infinite linear;
  -webkit-animation: float 35s infinite linear;
  animation: float 35s infinite linear;
}
.fast{
  -o-animation: float 25s infinite linear;
  -moz-animation: float 25s infinite linear;
  -webkit-animation: float 25s infinite linear;
  animation: float 25s infinite linear;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 2s;
}

.delay-3 {
  animation-delay: 3s;
}

.delay-4 {
  animation-delay: 4s;
}

.delay-5 {
  animation-delay: 5s;
}

.delay-6 {
  animation-delay: 6s;
}

@keyframes float{
  0% { left:-20%; }
  100% { left:110%; }
}

.feed{
  position: relative;
}

.clouds{
  max-width: 100vw;
  height: 0;
  z-index: 0;
}


#feed-wrapper{
  min-height: 1600px;
}

.liked{
  color: red !important;
}


.meta{
  display: inline-flex !important;
}

.ui.feed>.event>.content .meta .delete {
  transition: .2s color ease;
}

.🚀 {
  font-size: 1.2em;
}

#bg-nested-dropdown{
  color: lime;
  border-color: lime;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

input[type="file"] {
  display: none !important;
}

.file-upload{
  color: lime;
  border-color: lime;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.image-grid {
  width: 480px;
  height: 480px;
}

.image-grid > .row {
  height: 50%;
}

.tweet-image {
  /*max-height: 254px;*/
  /*max-width: 254px;*/
  float: left;
  width: 100%;
  height:100%;
}

.extra > video {
  max-width: 100%;
  max-height: 50vh;
}