.App {
  text-align: center;
  background-color: #03e5b7;
  background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.no-margin{
  margin: 0 !important;
}


.MySearch > .input {
  display: inline;
}

.ui.feed>.event>.content .extra,
.ui.feed>.event>.content .summary
{
  color: black;
}

.ui.feed>.event>.content .summary>.date{
  color: gold;
}

a {
  color: gold;
}

.ui.feed>.event>.content .meta a, .ui.feed>.event>.content .meta>.icon {
  color: lime;
}

